<!--This section could be broken up into a partial-->

<h2 align="center">Your Tickets</h2>

<div class="row">
  <div class="col-md-12">
    <h2>Open</h2>
    <table class="table-bordered table-hover">
      <tr>
        <th>Title</th>
        <th>Description</th>  
        <th>Type</th>
        <th>Status</th>
        <th>Created At</th>
      </tr>
      <% @user_tickets.reverse_each do |ticket| %>
        <% if ticket.status == "open" %>
        <tr>
          <td><%= link_to ticket.title, ticket_path(ticket) %></td>
          <td><%= ticket.description.truncate(20) %></td>
          <td><%= ticket.issue_type %></td>
          <td>
            <span class="<%= ticket.status == "open" ? "bg-danger" : "bg-success" %> ticketStatus">
              <%= ticket.status %>
            </span>
          </td>
          <td><%= ticket.created_at %></td>
        </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>Resolved</h2>
    <table class="table-bordered table-hover">
      <tr>
        <th>Title</th>
        <th>Description</th>  
        <th>Type</th>
        <th>Status</th>
        <th>Created At</th>
      </tr>
      <% @user_tickets.reverse_each do |ticket| %>
        <% if ticket.status == "resolved" %>
        <tr>
          <td><%= link_to ticket.title, ticket_path(ticket) %></td>
          <td><%= ticket.description.truncate(20) %></td>
          <td><%= ticket.issue_type %></td>
          <td>
            <span class="<%= ticket.status == "open" ? "bg-danger" : "bg-success" %> ticketStatus">
              <%= ticket.status %>
            </span>
          </td>
          <td><%= ticket.created_at %></td>
        </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>
