<!DOCTYPE html>
<html>
<head>
  <title>Alpha Help Desk Test</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <% if logged_in? and current_user.admin? %>
  <body class="decreaseBodyWidith">
  <% else %>
  <body>
  <% end %>
  <%= render 'layouts/navigation' %> <!--needs to have layouts/ or it will look for the partial in articles-->
  <div class="container">
    <%= render 'layouts/messages' %>
    <%= yield %> <!--This is the wrapper for all views-->
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </div>
</body>
</html>
